body{
      margin: 0;
      padding: 0;
      background: url(bgphoto.jpg) no-repeat;
      background-size: cover;
    }
    .box{
      width: 450px;
      background: rgba(0, 0, 0, 0.4);
      padding: 30px;
      text-align: center;
      margin: auto;
      margin-top:2%;
      color: white;
      font-family: 'Monotype corsiva',sans-serif;
    }
    .box-img{
      border-radius: 50%;
      width: 200px;
      height: 200px;
    }
    .box h1{
      font-size: 40px;
      letter-spacing: 4px;
      font-weight: 100;
      font-weight: bold;
      font-family: 'Times New Roman'
    }
    .box h5{
      font-size: 20px;
      letter-spacing: 3px;
      font-weight: 100;
      font-family: 'Algerian'
    }
    .box p{
      text-align: justify;
      font-size: 28px;
    }
    ul{
      margin: 0;
      padding: 0;
    }
    .box li{
      display: inline-block;
      margin: 6px 5px;
      list-style: none;
      font-size: 20px;
    }
    .box li a{
      color: white;
      text-decoration: none;
      font-size: 60px;
      transition: all ease-in-out 250ms;
    }
    .box li a:hover{
      color: #b9b9b9;
    }
    .contact{
      margin: 5px 10px 10px 5px;
      width: 80%;
      height: 25%;
      background: rgba(0, 0, 0, 0.3);
      font-size: 23pt;
      font-style: italic;
      font-variant: small-caps;
      font-family: 'Ariel',sans-serif;
      text-align: center;
      text-decoration: none;
      text-shadow: 2px;
    }
    .contact p{
      font-size: 25pt;
    }
